body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

ul{
    list-style:none;
}

.container{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 50vh;
}

.question-container{
    width: 75%;
    height: 100%;
    background-color: #d4d4d4;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.task-maker-container{
    width: 20%;
    height: 100%;
    background-color: #ccc;
}

.task-creation-wizard{
    padding: 1em;
}

.question-box {
    width: 100px;
    height: 120px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    line-height: 0.5;
}

input[type="number"] {
    width: 60px; 
    padding: 1px;;
    text-align: center;
  }
  
